/* Appear on page load */
.loading {
  opacity: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.program-info-page {
  opacity: 1;
  transition: opacity 5000ms ease-out;
}

.program-info-page img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.go-back {
  width: 80px;
  height: 80px;
  background-color: white;
  font-weight: bold;
  color: black;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  border-radius: 40px;
  cursor: pointer;

  z-index: 10;

  position: absolute;
  top: 900px;
  left: 1700px;
}

.program-summary-container {
  position: absolute;
  top: 400px;
  left: 100px;
  width: 800px;

  z-index: 10;
}

.program-summary-container p {
  font-size: 24px;
  color: white;
}

.watch-now {
  width: 190px;
  height: 56px;
  background-color: white;
  font-size: 24px;
  font-weight: bold;
  color: #ff0000;
  line-height: 56px;
  text-align: center;
  border-radius: 28px;
  cursor: pointer;

  z-index: 10;

  position: absolute;
  top: 550px;
  left: 100px;
}
