.program-info-page img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.program-info-page::after {
  display: block;
  position: relative;
  background-image: blue;
  /* background-image: rgba(0, 0, 0, 0.5); */
  margin-top: -300px;
  height: 100%;
  width: 100%;
  content: "";
}

.go-back {
  width: 80px;
  height: 80px;
  background-color: white;
  font-weight: bold;
  color: black;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  border-radius: 40px;
  cursor: pointer;

  position: absolute;
  top: 900px;
  left: 1700px;
}

.program-summary-container {
  position: absolute;
  top: 400px;
  left: 100px;
  width: 800px;
}

.program-summary-container p {
  font-size: 24px;
  color: white;
}

.watch-now {
  width: 190px;
  height: 56px;
  background-color: white;
  font-size: 24px;
  font-weight: bold;
  color: #ff0000;
  line-height: 56px;
  text-align: center;
  border-radius: 28px;
  cursor: pointer;

  position: absolute;
  top: 550px;
  left: 100px;
}
