.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 2000ms ease-in;
}

.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 1;
  transition: opacity 500ms linear;
}

.app {
  width: 1920px;
  height: 1080px;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: black;
}

.page {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
}
