.app {
  width: 1920px;
  height: 1080px;

  position: fixed;
  top: 0;
  left: 0;

  overflow: hidden;

  background-color: black;
}

.page {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
}

/* Appear on page load */
.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 2000ms linear;
}
